#detail{
   background-color: gainsboro;
   height: auto;
   width: 100%;
   background-size: cover;
   overflow: hidden;

}

.screen{
    height: 350px;
    width: 100%;
}
h1{
    font-weight: 900;
}
p{
    font-style: italic;
    font-weight: 600;
}

.box1{
    margin-left: 5%;
}
.box1 img{
    height: 400px;
    width: 100%;
}
.box2 img{
    height: 370px;
}

.box3{
    margin-left: 5%;
}
.box3 img{
    height: 400px;
}
.box5{
    margin-left: 5%;
    margin-bottom: 5%;
}

.box5 img{
    height: 400px;
    
}

