<div class="container-fuild" id="detail">
    <div class="row mt-4">
        <div class="col">
            <img  class="screen" src="../../assets/imeage/detail/engagement.img"/>
        </div>
        <div class="col">
            <h1>Engagement</h1>
            <p class="mt-4">Refine your engagement party theme, find an engagement party venu and start discussing the logisty. create your engagement..</p>
            <strong>Our Serives</strong>
            <ul>
                <li>Invention</li>
                <li>mackeup</li>
                <li>Stage Decraction</li>
                <li>catring</li>
                <li>photography</li>
            

            </ul>
             <h2>price:$2.5lak</h2>
            <button type="button"  class="btn btn-primary">Book Now</button>
        </div>
    </div>
    
    <div class=" box1 row mt-4">
        <div class="col">
            <h1>Wedding</h1>
            <p class="mt-4">wedding to me are wordrous because they are so filled with tommorow ,Spring into the wedding seson.A memories on the wedding event ..</p>
            <strong>Our Serives</strong>
            <ul>
                <li>Invention</li>
                <li>Welcome dance</li>
                <li>mackeup</li>
                <li>Stage Decraction</li>
                <li>catring</li>
                <li>photography</li>
                <li>Dj music</li>
                <li>Chanda melam</li>

            

            </ul>
            <h2>price:$7lak</h2>
            <button type="button"  class="btn btn-primary">Book Now</button>
        </div>
        <div class="col">
            <img src="../../assets/imeage/detail/wedding .imeage.jpg"/>
        </div>
    </div>

    <div class=" box2 row mt-4">
        <div class="col">
            <img class="screen"src="../../assets/imeage/detail/birthday. img.jpg"/>
        </div>
        <div class="col">
            <h1>Birhday</h1>
            <p class="mt-4">wishing your day filed with happiness moment and the year filed with joy happy biethday .happy birthday you are very spical day .. </p>
            <strong>Our Serives</strong>
            <ul>
                <li>Food</li>
                <li>Dj music</li>
                <li>Stage Decraction</li>
                <li>Cake</li>
                <li>photography</li>
                <li>Return Gift</li>
            

            </ul>
            <h2>price:$2.5lak</h2>
            <button type="button"  class="btn btn-primary">Book Now</button>
        </div>
    </div>

    <div class=" box3 row mt-4">
        <div class="col">
            <h1>Dj music</h1>
            <p class="mt-4">Event for weddimg foe event top perfessional culb bar wedding party DJ s what ever the event we provide for night type of music..</p>
            <strong>Our Serives</strong>
            <ul>
                <li>clubs</li>
                <li>community events</li>
                <li>parties</li>
                <li>concerts</li>
                <li>Wedding/Receptions</li>
                <li>Reunions</li>
                <li>Redio Mix shows</li>
                

            

            </ul>
            <h2>price:$1lak</h2>
            <button type="button"  class="btn btn-primary">Book Now</button>
        </div>
        <div class="col">
            <img  class="screen"src="../../assets/imeage/detail/dj event.webp"/>
        </div>
    </div>

    <div class=" box4 row mt-4">
        <div class="col">
            <img class="screen" src="../../assets/imeage/detail/decraction img.jpeg"/>
        </div>
        <div class="col">
            <h1>Decraction</h1>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipsicing sed do eisuom at laber quisno nosturud ut  labour magna qluia .. </p>
            <strong>Our Serives</strong>
            <ul>
                <li>Marriege Functtion</li>
                <li>college Functtion</li>
                <li>Stage Decraction</li>
                <li>Birthday Decraction</li>
                <li>Balloon Decraction</li>
                <li>Baby Shower Decraction</li>
            

            </ul>
            <h2>price:$3lak</h2>
            <button type="button"  class="btn btn-primary">Book Now</button>
        </div>
    </div>
    <div class="box5  row mt-4">
        <div class="col">
            <h1>Photography</h1>
            <p class="mt-3">Photography is all most  memaroble moment in the photgraphy ,and all event most of the powerful event i like this photography and the wonderful moment of the capture this event..  <p>
            <strong>Our Serives</strong>
            <ul>
                <li>wedding</li>
                <li>puberty ceremony</li>
                <li>ear piercing ceremony</li>
                <li>outdoor shoot</li>
                <li>photo album</li>
                <li>birthday party</li>
                <li>modeling photos</li>
                

            

            </ul>
            <h2>price:$2lak</h2>
            <button type="button"  class="btn btn-primary">Book Now</button>
        </div>
        <div class="col">
           <img src="../../assets/imeage/detail/photos img.png"/>
        </div>
    </div>
</div>
