
    <nav class="navbar navbar-expand-lg navbar-dark " id="navbar">
        <div class="container">
          <a class="navbar-brand fw-bold" href="#" style="color: #81b8df;">Event Booking</a>
          <span> <a class="nav-link profile" href="./profile.html"><i class="ri-contacts-fill pe-2"></i>Profile</a></span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-expanded="false" >
            <span class="navbar-toggler-icon"></span>
          </button> 
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ">
              
              <li class="nav-item">
                <a class="nav-link" href="#home"> Home</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['gallery']"class="nav-link" >Gallery</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['combos']"class="nav-link" >Combos</a>
              </li>
              <li  ngbDropdown class="d-inline-block ">
                <a class="more" id="dropdownBasic1" ngbDropdownToggle>
                  More
                </a>
                <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <li class="nav-item">
                    <a  ngbDropdownItem >Event Types</a>
                  </li>
                  <li class="nav-item">
                    <a  ngbDropdownItem >Event Details</a>
                  </li>
                  <li class="nav-item">
                    <a  ngbDropdownItem >payment</a>
                  </li>
                  <li class="nav-item">
                    <a  ngbDropdownItem >review</a>
                  </li>
                 <li class="nav-item">
                    <a  ngbDropdownItem >booking</a>
                  </li>
                </ul>
              

            </ul>
            <form class="d-flex">
              <span id="lgiBtn"><a href="./login.html" class="btn btn-outline-primary">Login</a></span>                 
              <span id="lgoBtn"><button class="btn btn-outline-success" type="button">Logout</button></span>
          </form>
        </div>
        </div>
        
      </nav>

