@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Carrois+Gothic+SC&family=Megrim&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family:"Poppins",serif;
    font-size: 18px;
}

.navbar{
    background-color:rgba(255,255,255,0.1);
   position: relative;
    
}
.navbar-nav .nav-link{
    box-shadow: white;
    color:white!important;
    font-weight:500;
}
.navbar-nav .nav-link:hover{
    color: #7000f0 !important;
}
.more{
    position: relative;
    top: 8px;
    text-decoration: none;
    font-weight: 500;
    color:white!important;
    cursor: pointer;
}
.more:hover{
    color: #7000f0 !important;
}

.profile{
    font-weight: 500;
    color: white !important;
}
.profile:hover{
    color: #7000f0 !important;
}
.btn{
    text-transform:uppercase;
}
.btn-brand{
    background-color:#7000f0;
    border-color:black;
    color: white;
    border-radius:10px;
    font-weight:600;
    //padding: 5px 30px;
    
}

    
    

