
    <nav class="navbar navbar-expand-lg  bg-dark" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="#" style="color: #81b8df;">Event Booking</a>
          <span> <a class="nav-link profile" [routerLink]="['profile']"><i class="ri-contacts-fill pe-2"></i>Profile</a></span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-expanded="false" >
            <span class="navbar-toggler-icon"></span>
          </button> 
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ">
              
              <li class="nav-item">
                <a class="nav-link" href="#"> Home</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['gallery']"class="nav-link" >Gallery</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['event-types']"class="nav-link" >Even-types</a>
              </li>
              <li  ngbDropdown class="d-inline-block ">
                <a class="more " id="dropdownBasic1" ngbDropdownToggle>
                  More
                </a>
                <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                 
                  <li class="nav-item">
                    <a  ngbDropdownItem >Event Details</a>
                  </li>
                  <li class="nav-item">
                    <a  ngbDropdownItem >payment</a>
                  </li>
                  <li class="nav-item">
                    <a  ngbDropdownItem >review</a>
                  </li>
                 <li class="nav-item">
                    <a  ngbDropdownItem >booking</a>
                  </li>
                </ul>
                <li class="nav-item">
                <a [routerLink]="['aboutus']"class="nav-link" >aboutUS</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['contactus']"class="nav-link" >contactUs</a>
              </li>

            </ul>
            <form class="d-flex">
              <span id="lgiBtn"><button type="button" class="btn-brand  ms-lg-3" (click)="gotologinpage()">Login</button></span>                 
              <span id="lgoBtn"><button  type="button"  class="btn-brand ms-lg-3" (click)="userlogout()" >Logout</button></span>
          </form>
        </div>
        </div>
        
      </nav>

