<div class="container-fuild" id="event">
    <h2>Event Types</h2>
    <div class="row " id="row">
      <div class="row" >
      

        <div class="col-lg-4 col-md-4 col-12">
        <div class="card" >
        <img src="../../assets/imeage/gallery/birthday event.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <a href="#" class="btn btn-success">View more</a>
        </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
         <div class="card" >
        <img src="../../assets/imeage/gallery/wedding event.jpg" class="card-img-top" alt="...">
         <div class="card-body">
       <h5 class="card-title"></h5>
       <a href="#" class="btn btn-success">View more</a>
        </div>
        </div>
       </div>

       <div class="col-lg-4 col-md-4 col-12">
        <div class="card" >
         <img src="../../assets/imeage/gallery/cultural event.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"></h5>
       <a href="#" class="btn btn-success">View more</a>
       </div>
     </div>
      </div>
 </div>
    <div class="row top-25">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card" >
            <img src="../../assets/imeage/gallery/dj event.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <a href="#" class="btn btn-success">View more</a>
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <div class="card" >
                <img src="../../assets/imeage/gallery/food event.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <a href="#" class="btn btn-success">View more</a>
                </div>
            </div>
        </div>

                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card ">
                    <img src="../../assets/imeage/gallery/decraction.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <a href="#" class="btn btn-success">View more</a>
                    </div>
                    </div>
                </div>
    </div>
    </div>
    
</div>
