<div class="container-fuild" id="event">
  <div class="product">

  <h1>Event types</h1>
  
    <div class="row mt-5">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imeage/gallery/birthday event.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Birthday</h5>
           <button type="button" class="btn btn-primary" (click)="goToDetail()">View more</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imeage/gallery/engagement.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Engagement</h5>
          <button type="button" class="btn btn-primary" (click)="goToDetail()">View more</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imeage/gallery/wedding event.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Wedding</h5>
          <button type="button" class="btn btn-primary" (click)="goToDetail()">View more</button>
        </div>
      </div>
    </div>
   </div>

    <div class="row mt-4 ">
    <div class="col ml-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imeage/gallery/dj event.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dj</h5>
          <button type="button" class="btn btn-primary" (click)="goToDetail()">View more</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imeage/gallery/deg event.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Decraction</h5>
          <button type="button" class="btn btn-primary" (click)="goToDetail()">View more</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imeage/gallery/photo event.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Photography</h5>
          <button type="button" class="btn btn-primary" (click)="goToDetail()">View more</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

