<div class="container-fuild" id="gallery">
    <h1 class="mt-4">Gallery</h1>

    <div class="row mt-4">
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/eng img 1.webp">
        </div>
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/enga img 2.jpeg">
        </div>
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/wed 1.jpg">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/wed 1.webp">
        </div>
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/bir1.webp">
        </div>
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/bir2.webp">
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/dec 2.jpg">
        </div>
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/dec1.jpg">
        </div>
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/dj 1.jpeg">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/dj2.jpg">
        </div>
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/photo1.jpg">
        </div>
        <div class="col">
            <img class="img" src="../../assets/imeage/gallery 2/photo2.jpg">
        </div>
    </div>
    
    
    
</div>
