#gallery{
    background-color: gainsboro;
   height: auto;
   width: 100%;
   background-size: cover;
   overflow: hidden;
   position: relative;

  }
  h1{
    font-weight: 900;
    font-style: italic;
    text-align: center;
    align-items: center;
  }
 
  .img{
    height: 200px;
    width: 400px;
    border: 5px solid white;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    cursor: pointer;
    transition: .2s linear;
  }
  .img:hover{
    transform: scale(1.1);
  }