<link href="https://cdn.jsdelivr.net/npm/remixicon@4.4.0/fonts/remixicon.css" rel="stylesheet"/>
<div class="container-fuild">
    <div class="rev-section">
      <h2>Clint Reviews</h2>
    
      <div class="reviews">
        <div class="review">
            <div class="head-review">
                <img src="../../assets/imeage/review1.jpg" width="250px">
            </div>
            <div class="body-review">
                <div class="namve-review">Nathan.D</div>
                <div class="place-review"> Madurai</div>
                <div class="rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <div class="desc-review">
                    <p class="note">Your amazing event planning trading thousands of emails  forth with different attachments and changes..</p>
                </div>
            </div>
        </div>
      </div>

      <div class="reviews">
        <div class="review">
            <div class="head-review">
                <img src="../../assets/imeage/review4.jpg" width="250px">
            </div>
            <div class="body-review">
                <div class="namve-review">Kanan.D</div>
                <div class="place-review"> Chennai</div>
                <div class="rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <div class="desc-review">
                    <p class="note">Your amazing event planning trading thousands of emails  forth with different attachments and changes..</p>
                </div>
            </div>
        </div>
      </div>

      <div class="reviews">
        <div class="review">
            <div class="head-review">
                <img src="../../assets/imeage/review 2.jpeg" width="250px">
            </div>
            <div class="body-review">
                <div class="namve-review">velavan.r</div>
                <div class="place-review">Coimathore</div>
                <div class="rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <div class="desc-review">
                    <p class="note">Your amazing event planning trading thousands of emails  forth with different attachments and changes..</p>
                </div>
            </div>
        </div>
       </div>

       
    </div>
</div>
