*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-style: "poppies",serif;
}
#body{
background:#081b29;
width: auto;
}
 .wrapper{
    width: 400px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rbga(0,0,0,0.1);
}
h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}
form input,textarea{
    width: 92%;
    outline:none;
    border: 1px solid#fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: rgb(17,107,143);
}
button:hover{
    background: rgba(17,107,143,0.877);
}