<div class="container-mt4">
  <div class="Register-form">
    <h1>Register</h1>
    <form>
        
        <input type="text" name="userName" placeholder="User Name"/>
        <input type="text" name="pswd" placeholder="Password"/>
         <input type="text" name="cpswd" placeholder="cpsw"/>
         <input type="text" name="mobile" placeholder="mobile"/>
        <input type="text" name="email" placeholder="Email"/>
        <button type="submit" class="btn btn-primary">Register</button>
    </form> 
  </div>
</div>
