<div class="container-mt4" id="body">
  <div class="wrapper">
    <h1>sign Up</h1>
    <form>
        
        <input type="text" name="userName" placeholder="Username"/>
        <input type="text" name="pswd" placeholder="Password"/>
         <input type="text" name="cpswd" placeholder="cpsw"/>
         <input type="text" name="mobile" placeholder="mobile"/>
        <input type="text" name="email" placeholder="Email"/>
         </form> 
        <div class="terms">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">i agree to these</label>
            <button>Sign Up</button>
            <div class="member">
              Already a member?<a href="./login.html">
                Login Here
              </a>
            </div>
        </div>
  </div>
</div>
